# GIT
/.git/

# NODE modules
/node_modules/

# NPM lock package
/**/package-lock.json

# OS files
/**/Thumbs.db
/**/*.DS_Store

# Editors files
.idea
*.sublime*
.vscode

# logs
*.log*

# Build folder with files
dist/